<div *ngFor="let user of usersArray">
  <div>
    {{ user.id }}
  </div>
  <div>
    <img src="{{ user.image }}" />
  </div>
  <div>
    {{ user.firstName }}
  </div>
  <div>
    {{ user.lastName }}
  </div>
</div>

<!-- <div>
  {{ usersArray[0].id }}
</div>
<div>
  <img src="{{ usersArray[0].image }}" />
</div>
<div>
  {{ usersArray[0].firstName }}
</div>
<div>
  {{ usersArray[0].lastName }}
</div>

<div>
  {{ usersArray[1].id }}
</div>
<div>
  <img src="{{ usersArray[1].image }}" />
</div>
<div>
  {{ usersArray[1].firstName }}
</div>
<div>
  {{ usersArray[1].lastName }}
</div> -->
