<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['/activity']" routerLinkActive="active">Activity</a>
      </li>
      <li>
        <a [routerLink]="['/info']" routerLinkActive="active">Info</a>
      </li>
      <li>
        <a [routerLink]="['/posts']" routerLinkActive="active">Posts</a>
      </li>
      <li>
        <a [routerLink]="['/employee-detail']" routerLinkActive="active"
          >Employee Detail</a
        >
      </li>
      <li>
        <a [routerLink]="['/employee-list']" routerLinkActive="active"
          >Employee List</a
        >
      </li>
    </ul>
  </nav>
</div>
